.border {
      width:80%;
      margin:auto auto;
      padding:percentage(25px / 960px);
      border:10px solid #cccccc;
      background:0; }

.border h1{
  font-size:3em;
  color:grey;
  width:100%;
  max-width:100%;
}
.navbar {
  font-family: 'futura', helvetica;
  text-decoration: none;
  color:#CAEDCB;
  font-size:4em;
  text-align: center;
  list-style:none;
  margin:0;
  padding:0;
}
.navbar a{
  color:#CAEDCB;
}
.navbar li{
    display:inline;
}
.navbar a{
    display:inline-block;
    padding:10px;
}
.navbar {
  font-family: 'futura', helvetica;
  text-decoration: none;
  color:#CAEDCB;
  font-size:4em;
  text-align: center;
  list-style:none;
  margin:0;
  padding:0;
}
.navbar a{
  color:#CAEDCB;
  font-size:25px;
}
.navbar li{
    display:inline;
}
.navbar a{
    display:inline-block;
    padding:10px;
}
.grid{
  display:inline-block;
  width:100%;
  position:relative;
  margin:0 auto;
  padding:0 auto;
}

.float1{
  width:25%;
  float:left;
}

.float1 img{
  max-width:100%;
}


.float2{
  width:25%;
  float:left;
}

.float2 img{
  max-width:100%;
}


.float3{
  width:25%;
  float:left;
}

.float3 img{
  max-width:100%;
}


.float4{
  width:25%;
  float:left;
}

.float4 img{
  max-width:100%;
}
.silhouette{
  display:inline-block;
  width:100%;
  position:relative;
  margin:0 auto;
  padding:0 auto;
}

.vector1{
  float:left;
}



.vector2{
  float:left;
}



.vector3{
  float:left;
}




.contaniner{
  width: 1000%;
  float:center;
}
.section{
  width:80%;
  padding-left:5%;
}
.right li{
  list-style:underline;
  display:inline-block;
  padding:10px
}
.right li a{
  background-color:#CAEDCB;
  font-family:'futura';
  font-size:1em;
  color:grey;
}

iframe{
  width: 99%;
  height:60%;
}



























@media all and (max-width: 640px) {

.border h1{
  font-size:1em;
  color:grey;
}
  .navbar li{
      display:inline;
  }
  .navbar a{
      display:inline-block;
      padding:5px;
      font-size:.3em;
  }
    .box{
    display:inline;
    width:100%;
    position:center;

  }
  .float1{
    width:100%;
    float:center;
  }

  .float1 img{
    width:100%;
    float:center;
  }


  .float2{
    width:100%;
    float:center;
  }

  .float2 img{
    width:100%;
  }


  .float3{
    width:100%;
    float:center;
  }

  .float3 img{
    width:100%;
  }
  .float4{
    width:100%;
    float:center;
  }

  .float4 img{
    width:100%;

  }

  footer img{
    display:none;
  }
}
